* {
  font-family: sans-serif;
  color:grey;
}

body{
	margin: 4px;
	padding: 5px
}

h1 {
	color:crimson;
}
.container{
	background-color: white;
	width: 30%;
	height: 400px;
	text-align: left;
}

.img{
	width: 100% 
}

.chunk{
	width: 60%;
	height: 400px;
	background-color: white;
	float:right;
	margin-left: : 5px;
	overflow:auto;

}