/** {
  box-sizing: border-box;
  border: 4px solid black;
}*/


/*.container1{
	margin: auto;
    width: 60%;
    border: 3px solid #73AD21;
    padding: 10px;
}*/

/*body{
	background-image: url(http://static3.businessinsider.com/image/55b675ab2acae7c7018ba34e-1200/milky-way-galaxy.jpg)
	
}*/


html{
	height:100%;
	background: url(http://static3.businessinsider.com/image/55b675ab2acae7c7018ba34e-1200/milky-way-galaxy.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
	
}
 

.box{
	
	margin-left:auto;
	margin-right:auto;
	max-width: 40%;
	/*height: 250px;*/
	/*border: 5px solid black;*/
	background-color: transparent;
	display:flex;
	flex-wrap: wrap;
	justify-content: center;
	text-align:center;

}

.container1 {
    opacity: .92;
    /*width: 00px;
    height:500px;*/
}

.container1:hover {
    opacity: 1;
}

.container1:after {
	top: -100%;
	left: 0px;
	width: 100%;
	position: absolute;
	background: white;
	border-radius: 5px;
	
	transform-origin: left bottom;
	transform: rotateX(90deg);
}

.container1:hover {
	transform-origin: center bottom;
	transform: rotateX(-90deg) translateY(100%);
}

img{
	max-width: 100%;
	max-height: 100%;
	text-align:center;
	
}

	.container1{
	transform-style: preserve-3d;
	width: 200px;
	margin:auto;
	margin-top:5px;
	height: 180px;
	background-color: transparent;
	border: 2px solid white;
	text-align:center;
/*	margin-left:auto;
	margin-right:auto;*/




	/*text-align:center;*/

/*	position:absolute;*/
	
}


.container1 p {
	color: white;
	font-family: 'Fira Sans Extra Condensed', sans-serif;
	font-size: 30px;
	text-align: center;
	font-weight: 10px;
	
}

	
	/*display:inline-block;*/


