body {
  background-repeat: repeat;
  margin:0;
  text-align: center;

}

.navigation p{
  display: inline-block;
  float:left;
  color: solid black;
  font-family: 'Roboto', sans-serif;
  font-style:bold;
  font-size: 16px;
  font-weight:bold;
  word-spacing: .6em;
  letter-spacing: .5em;
  padding-left:120px;
  margin: 20px;
  text-transform: uppercase;
}

#nav {
  width: 100%;
  float: right;
  margin: 0 0 3em 0;
  padding: 0;
  list-style: none; }

#nav li {
  float: right; 
}



.navigation {
  background-color: rgba(255, 255, 255, 0.9);
  height: auto;
  text-align: right;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 999;
  width:95%;
}

.navigation ul {
 text-align:right;
  padding: 0;
}


.navigation li {
  color: #666666;
  display: inline-block;
  font-family: 'Roboto', sans-serif;
  font-size: 12px;
  font-weight: 100;
  letter-spacing: normal;
  margin: 20px;
  text-transform: uppercase;
}



.content-box {
  height: 500px;
  margin: 0 auto;
  position: relative;
  top: 220px;
  width: 90%;
}

.content-header {
  background-image:url('image/1.jpg');
  background-position: center;
  background-size: cover;
  position: relative;
  top: -130px;
  height: 700px;
}

.content-body{
  padding-bottom: 50px;
}

.content-body p {
  margin:  auto;
  text-align:center;
  width: 70%;
  color: black;
  font-family: 'Roboto', sans-serif;
  font-size: 50px;
  font-style:bold;
  font-weight: 400;
  position:relative;
  line-height: 70px;
  letter-spacing: .04em;
  word-spacing: 0em;
  margin bottom:  200px;

  /*padding bottom: 1000px;*/

}

.content-header h1 {
  margin: 0 auto;
  background: transparent;
  color: black;
  text-align:center;
  font-family: 'Oswald', sans-serif;
  font-size: 70px;
  font-style:bold;
  font-weight: 1200;
  line-height: 200px;
  letter-spacing: 3em;
  word-spacing: 0em;
  margin:  20px;
  padding: 20px;
  background-position: center;
  /*background-size: cover;*/
  position: relative;
  text-transform: uppercase;
  top: 130px;
  width: 70%;
}

.container2{
  width:49.5%;
  height: 500px;
  background-color: skyblue;
  float:right;
  margin-right: 5px;
  overflow:auto;
}

img:hover {
    /*opacity: .01;*/
    -webkit-transform: scale(3);
           -moz-transform: scale(3);
             -o-transform: scale(3);
            transform: scale(3);
    /*transition: transform 1s ease-in-out;*/

    /*filter: alpha(opacity=20);*/ 
}

.container1{
  width:49.5%;
  height: 500px;
  background-color: black;
  float:left;
  margin-right: 5px;
  overflow:auto;
}

img{max-width: 200px;
    /*max-height:18%;*/
}

.container3{
  width:100%;
  height: 500px;
  background-color: white;
  overflow:auto;
  margin-right: 5px;
  
}

.container3 h3{
  color: black;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  font-weight: 100;
  letter-spacing: 2px;
  margin: 0;
  text-transform: uppercase;

}

.container3 h2{
   color: black;
  font-family: 'Roboto', sans-serif;
  font-size: 26px;
  font-weight: 700;
  letter-spacing: 2px;
  margin: 0;
  text-transform: uppercase;

}

.container4{
  width:49.5%;
  height: 500px;
  background-color:#8FBC8F;
  float:left;
  margin-right: 5px;
  overflow:auto;
}

.container5{
  width:49.5%;
  height: 500px;
  background-color: #FFFAF0;
  float:right;
  margin-right: 5px;
  overflow:auto;
}

img{max-width: 160px;
    margin:0;
    /*max-height:18%;*/
}

.container5 h2{
   color: black;
  font-family: 'Roboto', sans-serif;
  font-size: 26px;
  font-weight: 700;
  letter-spacing: 2px;
  margin: 0;
  text-transform: uppercase;

}

.container5 h3{
  color: black;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  font-weight: 100;
  letter-spacing: 2px;
  margin: 0;
  text-transform: uppercase;

}





h2 {
  color: white;
  font-family: 'Roboto', sans-serif;
  font-size: 26px;
  font-weight: 700;
  letter-spacing: 2px;
  margin: 0;
  text-transform: uppercase;
}

h3 {
  color: white;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  font-weight: 100;
  letter-spacing: 2px;
  margin: 0;
  text-transform: uppercase;
}

ul{
  width:95%;
}



.content-box ul {
  padding: 40px 0px;
}






