.container {
    display: flex;
    margin-bottom: 3em;
}
section {
    flex: 1;
    padding: 1em;
}
#left {
    flex: 2;
}

/*section {
  width: 50%;
  display: inline-block;
  margin-bottom: 1em;
  vertical-align: top;
}
*/

footer {
    /*  clear: both;*/ 
    border-top: 1px solid #000;
    background: red;
    padding-top: 1em;
}
strong {
    color: red;
}
.empty {
    background: blue;
    /*  height: 500px;
  width: 300px;*/
}